* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.container {
    display: grid;
    flex-wrap: wrap;
}

.main img {
    width: auto;
    height: 50px;
    margin-left: 10px;
}

.main {
    border-bottom: 1px solid seashell;
}

.main nav {
    text-decoration: underline;
    display: inline;
    text-align: right;
}

.nav {
    justify-content: right;
    margin-bottom: 20px;
}

